*{
  margin: 0px;
}
:root{
  --Grey: rgb(214, 203, 203);
  --Blue: rgb(0, 55, 95);
  --Orange: rgb(229,149,0);
  --Red: rgb(132,0,50);
}
body{
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.header{
  height: 5vh;
  background-color: var(--Blue);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
  padding: 0.8rem;
  color: var(--Grey);
}
.headerLink{
  text-decoration: none;
  color: var(--Grey);
}
.heading{
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.562);
  text-align: center;
}
.footer{
  height: 5vh;
  font-size: 1rem;
  position: absolute;
  bottom: 0px;
  background-color: var(--Blue);
  width: 100vw;
  text-align: center;
  color: var(--Grey);
}
@media only screen and (max-width: 450px){
  .heading{
    font-size: 2rem;
    text-transform: uppercase;
  }
  .header{
    font-size: 1rem;
  }
}
